In [1]:
import numpy as np
import pandas as pd

In [2]:
appl = pd.read_csv("../input/stock-market-data/stock_market_data/nasdaq/csv/AAPL.csv")

In [3]:
appl.first

<bound method NDFrame.first of              Date         Low        Open     Volume        High       Close  \
0      12-12-1980    0.128348    0.128348  469033600    0.128906    0.128348
1      15-12-1980    0.121652    0.122210  175884800    0.122210    0.121652
2      16-12-1980    0.112723    0.113281  105728000    0.113281    0.112723
3      17-12-1980    0.115513    0.115513   86441600    0.116071    0.115513
4      18-12-1980    0.118862    0.118862   73449600    0.119420    0.118862
...           ...         ...         ...        ...         ...         ...
10585  06-12-2022  141.919998  147.070007   64727200  147.300003  142.910004
10586  07-12-2022  140.000000  142.190002   69721100  143.369995  140.940002
10587  08-12-2022  141.100006  142.360001   62128300  143.520004  142.649994
10588  09-12-2022  140.899994  142.339996   76069500  145.570007  142.160004
10589  12-12-2022  141.070007  142.699997   21904917  143.000000  142.320007

       Adjusted Close
0            0.099874
1            0.094663
2            0.087715
3            0.089886
4            0.092492
...               ...
10585      142.910004
10586      140.940002
10587      142.649994
10588      142.160004
10589      142.320007

[10590 rows x 7 columns]>

In [4]:
date_appl = appl['Date']

In [5]:
#date_appl.to_csv("date_appl.csv")

In [6]:
ls ../input/stock-market-data/

stock_market_data/

In [7]:
tess = pd.read_csv("../input/stock-market-data/stock_market_data/nasdaq/csv/TESS.csv")

In [8]:
tess.head(2)

         Date       Low      Open   Volume      High     Close  Adjusted Close
0  28-09-1994  6.888889  7.111111  4127625  7.444444  7.222222        4.549767
1  29-09-1994  7.111111  7.111111   644625  7.222222  7.111111        4.479772

In [9]:

tess_date = tess[["Date","Low"]]
tess_date = tess_date.rename(columns={"Date":"Date1"})

In [10]:
df = pd.concat([tess_date,date_appl])

In [11]:
df[0].equals(df['Date1'])

False

In [12]:
df.sum()

/tmp/ipykernel_20/1703867807.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sum()

Low    85417.587426
dtype: float64

In [13]:
df.mean()

/tmp/ipykernel_20/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Low    12.025565
dtype: float64

In [14]:
df.loc[4]

        Date1       Low           0
4  04-10-1994  7.222222         NaN
4         NaN       NaN  18-12-1980

In [15]:
df.iloc[4]

Date1    04-10-1994
Low        7.222222
0               NaN
Name: 4, dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17693 entries, 0 to 10589
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date1   7103 non-null   object
 1   Low     7103 non-null   float64
 2   0       10590 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.0+ MB

In [17]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10580, 10581, 10582, 10583, 10584, 10585, 10586, 10587, 10588,
            10589],
           dtype='int64', length=17693)

In [18]:
df.columns

Index(['Date1', 'Low', 0], dtype='object')

In [19]:
df.dtypes

Date1     object
Low      float64
0         object
dtype: object

In [20]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17693 entries, 0 to 10589
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date1   7103 non-null   object
 1   Low     7103 non-null   float64
 2   0       10590 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.0+ MB

In [21]:
df.select_dtypes(include= 'bool')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[17693 rows x 0 columns]

In [22]:
df.values

array([['28-09-1994', 6.888888835906982, nan],
       ['29-09-1994', 7.111111164093018, nan],
       ['30-09-1994', 7.111111164093018, nan],
       ...,
       [nan, nan, '08-12-2022'],
       [nan, nan, '09-12-2022'],
       [nan, nan, '12-12-2022']], dtype=object)

In [23]:
df.axes

[Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                 9,
             ...
             10580, 10581, 10582, 10583, 10584, 10585, 10586, 10587, 10588,
             10589],
            dtype='int64', length=17693),
 Index(['Date1', 'Low', 0], dtype='object')]

In [24]:

df.size

53079

In [25]:
df.ndim

2

In [26]:
df.shape

(17693, 3)

In [27]:
df.memory_usage(index=True,deep=False)

Index    669968
Date1    141544
Low      141544
0        141544
dtype: int64

In [28]:
df.empty

False

In [29]:
df.flags.allows_duplicate_labels

True

In [30]:
df.set_flags(allows_duplicate_labels = True)

            Date1       Low           0
0      28-09-1994  6.888889         NaN
1      29-09-1994  7.111111         NaN
2      30-09-1994  7.111111         NaN
3      03-10-1994  7.333333         NaN
4      04-10-1994  7.222222         NaN
...           ...       ...         ...
10585         NaN       NaN  06-12-2022
10586         NaN       NaN  07-12-2022
10587         NaN       NaN  08-12-2022
10588         NaN       NaN  09-12-2022
10589         NaN       NaN  12-12-2022

[17693 rows x 3 columns]

In [31]:
df['Low'].dropna().astype('int32')

0       6
1       7
2       7
3       7
4       7
       ..
7098    4
7099    4
7100    4
7101    4
7102    4
Name: Low, Length: 7103, dtype: int32

In [32]:
df.convert_dtypes()

            Date1       Low           0
0      28-09-1994  6.888889        <NA>
1      29-09-1994  7.111111        <NA>
2      30-09-1994  7.111111        <NA>
3      03-10-1994  7.333333        <NA>
4      04-10-1994  7.222222        <NA>
...           ...       ...         ...
10585        <NA>      <NA>  06-12-2022
10586        <NA>      <NA>  07-12-2022
10587        <NA>      <NA>  08-12-2022
10588        <NA>      <NA>  09-12-2022
10589        <NA>      <NA>  12-12-2022

[17693 rows x 3 columns]

In [33]:
df.infer_objects()

            Date1       Low           0
0      28-09-1994  6.888889         NaN
1      29-09-1994  7.111111         NaN
2      30-09-1994  7.111111         NaN
3      03-10-1994  7.333333         NaN
4      04-10-1994  7.222222         NaN
...           ...       ...         ...
10585         NaN       NaN  06-12-2022
10586         NaN       NaN  07-12-2022
10587         NaN       NaN  08-12-2022
10588         NaN       NaN  09-12-2022
10589         NaN       NaN  12-12-2022

[17693 rows x 3 columns]

In [34]:
df.copy(deep= True)

            Date1       Low           0
0      28-09-1994  6.888889         NaN
1      29-09-1994  7.111111         NaN
2      30-09-1994  7.111111         NaN
3      03-10-1994  7.333333         NaN
4      04-10-1994  7.222222         NaN
...           ...       ...         ...
10585         NaN       NaN  06-12-2022
10586         NaN       NaN  07-12-2022
10587         NaN       NaN  08-12-2022
10588         NaN       NaN  09-12-2022
10589         NaN       NaN  12-12-2022

[17693 rows x 3 columns]

In [35]:
pd.Series([True]).bool()

True

In [36]:
df.head(2)

        Date1       Low    0
0  28-09-1994  6.888889  NaN
1  29-09-1994  7.111111  NaN

In [37]:
df.at[0,0]

0           NaN
0    12-12-1980
Name: 0, dtype: object

In [38]:
df.iat[0,1]

6.888888835906982

In [39]:
df.loc[:,['Date1',0]]

            Date1           0
0      28-09-1994         NaN
1      29-09-1994         NaN
2      30-09-1994         NaN
3      03-10-1994         NaN
4      04-10-1994         NaN
...           ...         ...
10585         NaN  06-12-2022
10586         NaN  07-12-2022
10587         NaN  08-12-2022
10588         NaN  09-12-2022
10589         NaN  12-12-2022

[17693 rows x 2 columns]

In [40]:
#df.iloc[0:1.3]

In [41]:
df.insert(0, "col1",pd.Series(range(17693)))

In [42]:
df.__iter__()

In [43]:
for i in df.items():
    print(i)
    break

('col1', 0            0
1            1
2            2
3            3
4            4
         ...
10585    10585
10586    10586
10587    10587
10588    10588
10589    10589
Name: col1, Length: 17693, dtype: int64)

In [44]:
#df.keys()

In [45]:



'''

df.iterrows()
df.itertuples()
df.pop('Name')
df.tail()
df.xs('Name')
df.get(["temp_celsius", "temp_kelvin"])
df.isin()
df.where()
df.mask()
df.query()
df.__add__
df.add(5)
df.sub(4)
df.mul(2)
df.div(3)
df.truediv(2)
df.floordiv(5)
df.mod(4)
df.pow(2)
df.dot(df1)
df.radd
df.rsub
df.rmul
df.rdiv
df.rtruediv
df.rfloordiv
df.rmod
df.rpow


'''

'\n\ndf.iterrows()\ndf.itertuples()\ndf.pop(\'Name\')\ndf.tail()\ndf.xs(\'Name\')\ndf.get(["temp_celsius", "temp_kelvin"])\ndf.isin()\ndf.where()\ndf.mask()\ndf.query()\ndf.__add__\ndf.add(5)\ndf.sub(4)\ndf.mul(2)\ndf.div(3)\ndf.truediv(2)\ndf.floordiv(5)\ndf.mod(4)\ndf.pow(2)\ndf.dot(df1)\ndf.radd\ndf.rsub\ndf.rmul\ndf.rdiv\ndf.rtruediv\ndf.rfloordiv\ndf.rmod\ndf.rpow\n\n\n'