In [1]:
import numpy as np
import pandas as pd

In [2]:
appl = pd.read_csv("../input/stock-market-data/stock_market_data/nasdaq/csv/AAPL.csv")

In [3]:
appl.first

<bound method NDFrame.first of              Date         Low        Open     Volume        High       Close  \
0      12-12-1980    0.128348    0.128348  469033600    0.128906    0.128348
1      15-12-1980    0.121652    0.122210  175884800    0.122210    0.121652
2      16-12-1980    0.112723    0.113281  105728000    0.113281    0.112723
3      17-12-1980    0.115513    0.115513   86441600    0.116071    0.115513
4      18-12-1980    0.118862    0.118862   73449600    0.119420    0.118862
...           ...         ...         ...        ...         ...         ...
10585  06-12-2022  141.919998  147.070007   64727200  147.300003  142.910004
10586  07-12-2022  140.000000  142.190002   69721100  143.369995  140.940002
10587  08-12-2022  141.100006  142.360001   62128300  143.520004  142.649994
10588  09-12-2022  140.899994  142.339996   76069500  145.570007  142.160004
10589  12-12-2022  141.070007  142.699997   21904917  143.000000  142.320007

       Adjusted Close
0            0.099874
1            0.094663
2            0.087715
3            0.089886
4            0.092492
...               ...
10585      142.910004
10586      140.940002
10587      142.649994
10588      142.160004
10589      142.320007

[10590 rows x 7 columns]>

In [4]:
date_appl = appl['Date']

In [5]:
#date_appl.to_csv("date_appl.csv")

In [6]:
ls ..

input/  lib/  src/  working/

In [7]:
ls ../input/stock-market-data/

stock_market_data/

In [8]:
tess = pd.read_csv("../input/stock-market-data/stock_market_data/nasdaq/csv/TESS.csv")

In [9]:
tess.head(2)

         Date       Low      Open   Volume      High     Close  Adjusted Close
0  28-09-1994  6.888889  7.111111  4127625  7.444444  7.222222        4.549767
1  29-09-1994  7.111111  7.111111   644625  7.222222  7.111111        4.479772

In [10]:

tess_date = tess[["Date","Low"]]
tess_date = tess_date.rename(columns={"Date":"Date1"})

In [11]:
df = pd.concat([tess_date,date_appl])

In [12]:
df

            Date1       Low           0
0      28-09-1994  6.888889         NaN
1      29-09-1994  7.111111         NaN
2      30-09-1994  7.111111         NaN
3      03-10-1994  7.333333         NaN
4      04-10-1994  7.222222         NaN
...           ...       ...         ...
10585         NaN       NaN  06-12-2022
10586         NaN       NaN  07-12-2022
10587         NaN       NaN  08-12-2022
10588         NaN       NaN  09-12-2022
10589         NaN       NaN  12-12-2022

[17693 rows x 3 columns]

In [13]:
df[0]#.equals(df['Date1'])

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
10585    06-12-2022
10586    07-12-2022
10587    08-12-2022
10588    09-12-2022
10589    12-12-2022
Name: 0, Length: 17693, dtype: object

In [14]:
df

            Date1       Low           0
0      28-09-1994  6.888889         NaN
1      29-09-1994  7.111111         NaN
2      30-09-1994  7.111111         NaN
3      03-10-1994  7.333333         NaN
4      04-10-1994  7.222222         NaN
...           ...       ...         ...
10585         NaN       NaN  06-12-2022
10586         NaN       NaN  07-12-2022
10587         NaN       NaN  08-12-2022
10588         NaN       NaN  09-12-2022
10589         NaN       NaN  12-12-2022

[17693 rows x 3 columns]